* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

section.main {
    background-position: center;
    padding: 20px 0 80px 0;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.logo-menu img {
    display: flex;
    position: absolute;
    width: 164px;
    height: 50px;
    left: 220px;
    top: 25px;
}

.items-menu {
    display: flex;
    position: absolute;
    width: 164px;
    height: 64px;
    right: 300px;
    top: 35px;
}

.items-menu a {
    display: flex;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;

}

.sec1 {
    display: flex;
    background-position: center;
    background: #fff;

}

.sec1 p {
    position: absolute;
    width: 488px;
    height: 216px;
    left: 500px;
    top: 242px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}

.sec1 h1 {
    position: absolute;
    width: 462px;
    height: 62px;
    left: 501px;
    top: 477px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;

}

.sec1 h2 {
    position: absolute;
    width: 216px;
    height: 20.27px;
    left: 40px;
    top: 5.5px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #FF4081;



}

.circle {
    box-sizing: border-box;
    position: absolute;
    width: 268px;
    height: 51px;
    left: 510px;
    top: 577px;
    border: 2px solid #FF4081;
    border-radius: 62px;

}


.sec1 img {
    background: #ffffff;
    border: 2px solid #ffffff;
    width: 511px;
    height: 501px;
    margin: 100px 1350px;

}

.sec2 {
    text-align: center;
    position: absolute;
    width: 1440px;
    height: 730px;
    left: 0px;
    top: 829px;
    width: 100%;
    background: #F7F7F7;
}

.sec2 article {
    display: inline-block;
    padding: 110px;
    padding-top: 120px;

}

.sec2 article p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;

}

.sec2 article h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    width: 256px;
    margin: 10px;
    margin-left: 50px;
}

.sec2 a {
    -webkit-border-radius: 2000px;
    -moz-border-radius: 20000px;
    border-radius: 20px;
    height: 200px;
    height: 0;
    line-height: 120px;
    color: #FFFFFF;
    font-family: Arial;
    width: 159px;
    font-size: 20px;
    font-weight: 100;
    padding: 14px 60px;
    background-color: #FF4081;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.sec3 {
    text-align: center;
    position: absolute;
    width: 1440px;
    height: 730px;
    left: 0px;
    top: 1560px;
    width: 100%;
    background: #ffffff;
    
}

.sec3 > P {
    width: 100%px;
    height: 50px;
    left: 128px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 220px;
    color: #009688;
    margin-right: 920px;
}

.sec3 h1 {
    display: contents;
    width: 100%; 
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    padding-top: 200px;

}
